<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYSR | <%=title%></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

        .body {
            font-family: 'Titillium Web';
        }

        .container-box {
            position: relative;
        }
    </style>
</head>

<body>
    <section>
        <div class="container-box">
            <img src="image/landing.png" alt="" width="100%" height="auto">
            <div class="top-left">
                <div class="floating-div">
                    <h1>Lycan</h1>
                    <h2 class="title">Space Research</h2>
                </div>
            </div>
            <div class="bottom-right">
                <h2 class="border-text">
                    Go Beyond.
                </h2>
            </div>
        </div>
        

    </section>
</body>

</html>