<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYSR | <%=title%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/launchpad.css">
    <style>
         #loading {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #fff url(/image/Ripple-0.6s-200px.gif) no-repeat center center;
            z-index: 9999;
        }
    </style>
</head>

<body onload="myFunction()">
    <div id="loading"></div>
    <!--navbar-->
    <%- include('./partials/nav.ejs') %>
        <!--xlarge screen-->
        <section class="ly-hide-small ly-hide-medium ly-hide-large ">
            <div class="container-box">
                <img src="image/launchpad/LAUNCH PAD BACKGROUND.png" alt="" width="100%" height="auto">
                <img src="image/launchpad/launch pad.png" alt="" width="40%" height="auto" class="launch-bgimg"
                    data-aos=fade-right style="transition-delay: 400ms;">
                <img src="image/launchpad/LAUNCH PAD ROCKET.png" alt="" width="20%" height="auto" class="rocket-bgimg"
                    data-aos=slide-up style="transition-delay: 1000ms;">
                <div class="top-left">
                    <h1 class="landing-text">Launchpad</h1>
                    <p class="ly-xxlarge">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente enim eos
                        libero est, expedita, unde
                        magni odit consequatur repellat voluptatibus doloribus cum corporis minus illum dolorem,
                        laboriosam
                        velit! Est voluptas ipsum architecto iure mollitia sint maxime totam numquam nemo odio earum
                        atque
                        veniam ea sapiente suscipit doloribus, consectetur id</p>
                </div>
            </div>
        </section>
        <!--large screen-->
        <section class="ly-hide-small ly-hide-medium ly-hide-xlarge">
            <div class="container-box">
                <img src="image/launchpad/LAUNCH PAD BACKGROUND.png" alt="" width="100%" height="auto">
                <img src="image/launchpad/launch pad.png" alt="" width="40%" height="auto" class="launch-bgimg"
                    data-aos=fade-right style="transition-delay: 400ms;">
                <img src="image/launchpad/LAUNCH PAD ROCKET.png" alt="" width="20%" height="auto" class="rocket-bgimg"
                    data-aos=fade-up style="transition-delay: 1300ms;">
                <div class="top-left">
                    <h1 class="landing-text">Launchpad</h1>
                    <p class="ly-xlarge">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente enim eos
                        libero est, expedita, unde
                        magni odit consequatur repellat voluptatibus doloribus cum corporis minus illum dolorem,
                        laboriosam
                        velit! Est voluptas ipsum architecto iure mollitia sint maxime totam numquam nemo odio earum
                        atque
                        veniam ea sapiente suscipit doloribus, consectetur id</p>
                </div>
            </div>
        </section>
        <!--tab screen-->
        <section class="ly-hide-small ly-hide-large ly-hide-xlarge ly-padding-top-48">
            <div class="container-box">
                <img src="image/launch pad.png" alt="" width="100%" height="auto">
                <div class="top-left-tab">
                    <h1 class="landing-text-tab">Launchpad</h1>
                    <p class="ly-large">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente enim eos
                        libero est, expedita, unde
                        magni odit consequatur repellat voluptatibus doloribus cum corporis minus illum dolorem,
                        laboriosam
                        velit! Est voluptas ipsum architecto iure mollitia sint maxime totam numquam nemo odio earum
                        atque
                        veniam ea sapiente suscipit doloribus, consectetur id</p>
                </div>
            </div>
        </section>
        <!--mobile screen-->
        <section class="ly-hide-large ly-hide-xlarge ly-hide-medium ly-padding-top-32">
            <div class="container-box">
                <img src="image/mob/launch pad.png" alt="" width="100%" height="auto">
                <div class="top-left-mob">
                    <p class="ly-large">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente enim eos
                        libero est, expedita, unde
                        magni odit consequatur repellat voluptatibus doloribus cum corporis minus illum dolorem,
                        laboriosam
                        velit! Est voluptas ipsum architecto iure mollitia sint maxime totam numquam nemo odio earum
                        atque</p>
                    <h1 class="landing-text-mob">Launchpad</h1>
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/aos.js"></script>
        <script>
            AOS.init({
                duration: 1200,
            })
            var preloader = document.getElementById("loading")
                function myFunction() {
                    preloader.style.display = 'none';
                };
        </script>
</body>

</html>