<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYSR | <%=title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<style>
    body{
        background-color: black;
    }
</style>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="ly-hide-small ly-hide-medium">
        <div class="ly-image" style="padding-bottom: 100px;">
            <img src="image/lyron.png" alt="" width="100%" height="auto">
        </div>
    </section>

    <section class="ly-hide-xlarge ly-hide-large">
        <div class="ly-image ly-padding-top-24">
            <img src="image/mob/lyron.png" alt="" width="100%" height="auto">
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="js/nav.js"></script>
    
</body>

</html>