<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYSR | <%=title%></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

        body {
            font-family: 'Titillium Web';
            background-color: black;
        }
        .top-left {
            position: absolute;
            top: 48%;
            left: 28%;
            width: 50%;
        }
        h1,
        h2 {
            font-weight: 200;
            margin: 0.4em 0;
        }

        h1 {
            font-size: 3.5em;
            color: #fff;
            opacity: 0.4;
            font-weight: 600;
            font-family: 'Titillium Web';
            letter-spacing: 3px;
        }

        h2 {
            color: #888;
            font-size: 2em;
        }
        .container-box{
            position: relative;
        }
    </style>
</head>

<body>
    <section>
        <div class="ly-image">
            <img src="image/landing drone.png" alt="" width="100%" height="auto">
        </div>
        <div class="ly-image container-box ly-padding-top-64">
            <img src="image/Mask Group 17.png" alt="" width="100%" height="auto">
            <div class="top-left">
                <h1>A Drone That Is
                    <span class="txt-rotate" data-period="1000"
                        data-rotate='[ "Powerful.", "Steady.", "Compact.", "Aesthetic.", "Precise." ]'></span>
                </h1>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="js/text-animation.js"></script>
</body>

</html>