<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LYSR | <%=title%></title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .container-box {
            position: relative;
        }
        .top-right {
            position: absolute;
            top: 19%;
            right: 5%;
            width: 50%;
        }
        h1{
            font-size: 80px;
            color:#181147;
            text-align: start;
            font-weight: 600;
        }
        h2{
            font-size: 70px;
            color:#181147;
            padding-left: 10%;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container-box">
        <img src="image/rocketpart.png" alt="" width="100%" height="auto">
        <div class="top-right">
            <h1>Rocket Parts</h1>
            <p class="ly-xlarge">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente enim eos libero est, expedita, unde
                magni odit consequatur repellat voluptatibus doloribus cum corporis minus illum dolorem, laboriosam
                velit! Est voluptas ipsum architecto iure mollitia sint maxime totam numquam nemo odio earum atque
                veniam ea sapiente suscipit doloribus, consectetur id!</p>
        </div>
        <div class="ly-container ly-padding-top-32">
            <h2>Lorem Ipsum</h2>
            <p class="ly-xlarge" style="padding: 4% 8%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente enim eos libero est, expedita, unde
                magni odit consequatur repellat voluptatibus doloribus cum corporis minus illum dolorem, laboriosam
                velit! Est voluptas ipsum architecto iure mollitia sint maxime totam numquam nemo odio earum atque
                veniam ea sapiente suscipit doloribus, consectetur id!</p> 
        </div>
    </div>
</body>

</html>