@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.body {
  font-family: "Titillium Web";
}

.container-box {
  position: relative;
}

.div-center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floating-div {
  width: 800px;
  height: 600px;
  background-color: #ededf5;
  border-radius: 25px;
  border: 2px solid #ededf5;
}

.header {
  font-size: 42px;
  color: #393952;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15% 0 5% 15%;
}

.icons {
  text-align: end;
}
.col-lg-8 {
  padding-left: 5%;
}
.btn-primary {
  background-color: #694e96;
  border: 1px solid #694e96;
}
.form-control {
  border: 1px solid #fff;
}
