.container-box {
  position: relative;
}
.top-left {
  position: absolute;
  top: 22%;
  left: 10%;
  width: 50%;
}
.satellite-bgimg {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 2;
}
.line-bgimg {
  position: absolute;
  bottom: 12%;
  right: 16%;
  z-index: 1;
}
.top-left-mob {
  position: absolute;
  top: 15%;
  left: 6%;
  width: 90%;
}
.top-left-tab {
  position: absolute;
  top: 15%;
  left: 6%;
  width: 60%;
}
.landing-text {
  font-size: 90px;
  color: #181147;
  text-align: start;
  font-weight: 600;
  font-family: "Titillium web";
}
.landing-text-mob {
  font-size: 48px;
  color: #181147;
  text-align: start;
  font-weight: 600;
  font-family: "Titillium web";
}
.landing-text-tab {
  font-size: 68px;
  color: #181147;
  text-align: start;
  font-weight: 600;
  font-family: "Titillium web";
}

.body-title {
  font-size: 70px;
  color: #181147;
  padding-left: 10%;
  font-weight: 600;
  font-family: "Titillium web";
}
.body-title-mob {
  font-size: 40px;
  color: #181147;
  padding-left: 6%;
  font-weight: 600;
  font-family: "Titillium web";
}
.body-title-tab {
  font-size: 58px;
  color: #181147;
  padding-left: 10%;
  font-weight: 600;
  font-family: "Titillium web";
}
@media (min-width: 1700px) {
  .top-left {
    top: 28%;
  }
  .landing-text {
    font-size: 110px;
  }
  .body-title {
    font-size: 90px;
  }
}
